<md-toolbar class="toolbar">
  <div class="md-toolbar-tools">
    <md-button href="#section-0" du-smooth-scroll du-scrollspy aria-label="Settings">
      Home
    </md-button>
    <md-button href="#section-1" du-smooth-scroll du-scrollspy aria-label="Settings">
      development
    </md-button>
    <md-button href="#section-2" du-smooth-scroll du-scrollspy aria-label="Favorite">
      Ui/Ux
    </md-button>
    <md-button href="#section-3" du-smooth-scroll du-scrollspy aria-label="Favorite">
      environment
    </md-button>
    <md-button href="#section-4" du-smooth-scroll du-scrollspy aria-label="Favorite">
      contact
    </md-button>
  </div>
</md-toolbar>