
@import 'angular-material';


 h1 {
	 font-size: 3em;
   color: #00AC7F;
 }

 .h1_an {
  color: white;
 }

 

 .toolbar {
   position: fixed;
 }

.diseño {
  padding-top: 150px;
	font-family: 'Bubbler One', sans-serif;
  color: white;
  left:50%;
  text-align: center;

}

  a {
    color: white;
  }

  .redes {
    margin: 10px 20px;
  }


section {
  font-family: 'Bubbler One', sans-serif;
}

#section-0 {
  background: url(https://unsplash.it/1080/720?image=901) no-repeat;
  background-size: cover;
  min-height: 60em;
}

#section-1 {
  height: 300px;
}

// .section-1-img {
//   background: url(https://unsplash.it/1080/720?image=1017) no-repeat;
//   background-size: cover;
// }

#section-4 {
  background-color: #00AC7F;
}

.logo {
  width: 70px;
  margin-right: 30px;
}

  .logo_ionic {
  width: 60px;
}

  .logo_node {
    width: 90px;
    margin-left: 30px;
  }

.logo_UI {
  width: 80px;
  margin-right: 30px;
}

  .logo_UI_css {
  width: 60px;
  }

  .logo_UI_sass {
    width: 100px;
    margin-left: 30px;
    }

.top {
  margin: 50px 50px 50px;
  float: right;
}

img {
      max-width: 100%;
    }
    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    }
    nav li, nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center
    }
    nav li, nav a {
      display: inline-block;
    }
    nav a {
      padding: 20px;
      color: #333;
      text-decoration: none;
    }
    // a:hover {
    //   background: #fff;
    // }
    a.active {
      background: #00AC7F;
      color: #fff;
    }
    .wrap {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px;
    }
    section {
      padding: 20px 0 20px 0;
      margin-bottom: 30px;
    }
    footer {
      text-align: center;
    }
    button {
      font-size: 18px;
      border: 0;
      padding: 15px 30px;
      background: #00AC7F;
      color: #fff;
      cursor: pointer;
    }
    #container {
      overflow: auto;
      height: 400px;
      padding: 0;
      margin: 10px 0 20px 0;
    }

.toolbar {
  opacity: 0.3;
}